{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
            a matter of hours to help you.</p>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary rounded-2" type="submit">Submit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
